.noticias {
  margin: 95px auto;
  padding: 46px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;

  h1 {
    color: red;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
  }

  .caja-procesos {
    box-shadow: 0 0 33px 0 rgba(0, 0, 0, 0.3);
    background: white;
    transition: 0.6s;

    .img-noticia {
      background-size: cover;
      overflow: hidden;
    }

    .content-procesos {
      padding: 5%;
    }
  }

  .caja-procesos:hover {
    transform: scale(1.025);
  }

  a {
    color: black;
  }

  /* timeline */

  .barra-vertical {
    width: 3px;
    position: absolute;
    height: 100%;
    background: red;
    left: 50%;
    transform: translate(-50%);
  }

  .boton {
    text-align: center;
  }

  .timeline-item {
    padding: 0 10% 0 0;
    position: relative;
    margin-top: 50px;

    .date {
      position: absolute;
      right: 0;
      top: -14px;
      transform: translateX(-45px) rotate(-90deg);
      transform-origin: right;
      color: red;
      font-weight: 400;
      letter-spacing: 1.5px;
    }

    .diamante {
      position: absolute;
      height: 75px;
      width: 50px;

      /* background: white; */

      right: 0;
      transform: translate(50%);

      .rombo {
        border: solid 2px red;
        background: red;
        height: 25px;
        width: 25px;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        left: 50%;
        top: 110%;
        position: absolute;
      }
    }

    &:nth-of-type(2n+1) {
      padding: 0 0 0 10%;
      margin-top: 200px;

      .date {
        right: inherit;
        left: 0;
        top: 150px;
        transform-origin: left;
        transform: translateX(45px) rotate(-90deg);
      }

      .diamante {
        right: inherit;
        left: 0;
        transform: translate(-50%);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .timeline-item {
    padding: 0 10% 0 10% !important;
    box-shadow: 0 5px 10px rgba(0, 0.1, 0.1, 0.1);

    .caja-procesos {
      .img-noticias {
        height: 200px !important;
      }
    }

    .date {
      transform: none !important;
      position: relative !important;
      top: 0 !important;
    }

    .diamante {
      display: none !important;
    }

    .rombo {
      display: none !important;
    }

    &:nth-of-type(2n+1) {
      padding: 0 10% 0 10% !important;
      margin-top: 50px !important;
    }
  }

  .barra-vertical {
    display: none;
  }

  .noticias {
    .h1 {
      font-size: 22px;
    }
  }

  .boton {
    width: 208px !important;
  }

  .boton:hover {
    width: 208px !important;
  }
}
