@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,800');

* {
  font-family: 'Montserrat', sans-serif;
}

/** Colors */
$primary:               #525ddc;

/** Box Model  */
$spacer:                2rem;
